<!-- fragments/sidebar.html -->
<aside th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml"
       class="navbar navbar-vertical navbar-expand-sm position-absolute" data-bs-theme="dark">

    <div class="container-fluid">
        <h1 class="navbar-brand navbar-brand-autodark">
            <a th:href="@{/home}">Anugrah Motor</a>
        </h1>

        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
                <!-- Kasir -->
                <li class="nav-item" th:classappend="${activePage} == 'home' ? 'active' ">
                    <a th:href="@{/home}" class="nav-link">
                        <span class="nav-link-title">Dashboard</span>
                    </a>
                </li>

                <!-- Kasir -->
                <li class="nav-item" th:classappend="${activePage} == 'kasir' ? 'active' ">
                    <a th:href="@{/kasir}" class="nav-link">
                        <span class="nav-link-title">Buka Kasir</span>
                    </a>
                </li>


                <!-- Master Barang -->
                <li class="nav-item" th:classappend="${activePage} == 'masterBarang' ? 'active' ">
                    <a class="nav-link" th:href="@{/products}">
                        <span class="nav-link-title">Master Barang</span>
                    </a>
                </li>

                <!-- Supplier Barang -->
                <li class="nav-item" th:classappend="${activePage} == 'supplier' ? 'active' ">
                    <a class="nav-link" th:href="@{/supplier}">
                        <span class="nav-link-title">Supplier</span>
                    </a>
                </li>

                <li class="nav-item dropdown"
                    th:classappend="(${activePage} == 'preorderTambah' or ${activePage} == 'preorderRiwayat') ? 'active' : ''">

                    <a class="nav-link dropdown-toggle" href="#sidebar-preorder" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebar-preorder">
                        <span class="nav-link-title">Preorder</span>
                    </a>

                    <div class="collapse"
                         id="sidebar-preorder"
                         th:classappend="(${activePage} == 'preorderTambah' or ${activePage} == 'preorderRiwayat') ? ' show' : ''">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="/preorder/tambah"
                                   th:classappend="${activePage} == 'preorderTambah' ? 'active' : ''">
                                    Tambah Preorder
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="/preorder"
                                   th:classappend="${activePage} == 'preorderRiwayat' ? 'active' : ''">
                                    Riwayat Preorder
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Penjualan -->
                <li class="nav-item" th:classappend="${activePage} == 'penjualan' ? 'active' ">
                    <a class="nav-link" th:href="@{/penjualan}" >
                        <span class="nav-link-title">Penjualan</span>
                    </a>
                </li>

                <li class="nav-item dropdown"
                    th:classappend="(${activePage} == 'pembelianTambah' or ${activePage} == 'pembelianRiwayat') ? 'active' : ''">

                    <a class="nav-link dropdown-toggle" href="#sidebar-pembelian" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebar-pembelian">
                        <span class="nav-link-title">Pembelian</span>
                    </a>

                    <div class="collapse"
                         id="sidebar-pembelian"
                         th:classappend="(${activePage} == 'pembelianTambah' or ${activePage} == 'pembelianRiwayat') ? ' show' : ''">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="/pembelian/tambah"
                                   th:classappend="${activePage} == 'pembelianTambah' ? 'active' : ''">
                                    Tambah Pembelian
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="/pembelian"
                                   th:classappend="${activePage} == 'pembelianRiwayat' ? 'active' : ''">
                                    Riwayat Pembelian
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Customer -->
                <li class="nav-item" th:classappend="${activePage} == 'customer' ? 'active' ">
                    <a th:href="@{/customer}" class="nav-link">
                        <span class="nav-link-title">Customer</span>
                    </a>
                </li>


                <!-- User -->
                <li class="nav-item" th:classappend="${activePage} == 'user' ? 'active' ">
                    <a th:href="@{/user}" class="nav-link">
                        <span class="nav-link-title">User</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Logout Button -->
        <div class="logout-button">
            <a th:href="@{/logout}" class="btn btn-outline-danger w-100"
               onclick="return confirm('Are you sure you want to logout?');">
                Logout
            </a>
        </div>
    </div>
</aside>
